


.container1{
    height: fit-content;
    margin-bottom: 50px;
    width: fit-content;
    background-color: #252482;
    border-radius: 15px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}