body{
    background-color: cadetblue;
}


.container1{
    height: fit-content;
    margin-bottom: 50px;
    width: fit-content;
    background: linear-gradient( to right bottom, rgba(93, 93, 93, 0.6), rgba(65, 61, 61, 0.3)); 
    border-radius: 15px;
    border-radius: 10px;
    font-family: arial;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}