
.container1{
    height: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 20px;
    width: 350px;
    padding: 10px;
}
.container1 button{
    border-radius: 2px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    background-color: #f64c72;
    border-color: #f64c72;
    color:white;
}