body{
    background-color: cadetblue;
}
.container1{
    height: auto;
    margin-bottom: 50px;
    /* width: 500px; */
    background-color:teal;
    border-radius: 15px;
    border-radius: 10px;
    font-family: arial;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 20px;
    width: 350px;
    padding: 10px;
}
.container1 button{
    border-radius: 5px;
    font-size: 20px;
    font-family: serif;
    font-weight: 550;
}