body{
    background-color: #553D67;
}

.login-container{
    background: #242582; 
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    margin-top: 200px;
    margin-bottom: 50px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.login-container h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.login-container p{
        padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        margin-top: 10px;
        font-size: medium;
        font-weight: 300;
}

.subtn {
    height: 50px;
    width: 353px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border-color: #f64c72;
    background-color: #242582;
    margin-bottom: 10px;
    color: #f64c72;

}