body{
    background-color: #99738E;
}

form label:hover{
    background-color: bisque;
}


.subbtn:hover{
    background-color: bisque;
}

form label{

    background-color: white;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: large;
    font-weight: 550;
    font-family: serif;
    border-color: black;
    border-style:solid;

}
.subbtn{
    text-align: center;
    height: 30px;
    width: 100px;
    font-size: large;
    font-weight: 550;
    border-style: solid;
    
}

.filerecord{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.box {
	text-align: right;
    margin-right: 100px;
}

.button {
	font-size: 15px;
	padding: 15px 35px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 10px;
	font-weight: 600;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h2 {
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: red;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.container {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}
form label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.instance{
	background: #252482;
    border-radius: 2px;
    width: 1500px;
    height: 330px;
    padding-top: 8px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.file{
	background: #252482;
    border-radius: 2px;
    width: 1500px;
    height: 330px;
    padding-top: 8px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}

.cards{
	margin-top: 100px;
} 

.results{
	background: #252482;
    border-radius: 2px;
    width: 1500px;
    height: 330px;
    padding-top: 8px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 50px;
	
}

body h1{
	margin-left: 10px;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 40px;
	color: white;
	width: fit-content;
	padding:5px;
	border-radius: 5px;
	background-color: #553D67;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.file p1
{
	font-size: 18px;
	margin-left: 40px;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.results p1{
	font-size: 18px;
	margin-left: 40px;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.instance p1{
	font-size: 18px;
	margin-left: 40px;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.instance p2{
	margin-left: 40px;
	font-weight: 498;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.file p2{
	margin-left: 40px;
	font-weight: 498;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.results p2{
	margin-left: 40px;
	font-weight: 498;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.Pending{
  color: yellow;
}

.Success{
	color: green;
}

.Failure{
	color: red;
}


.lds-dual-ring {
	display: true;
	width: 80px;
	height: 80px;
	margin-top: 50px;
	margin-left: 50px;
  }
  .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  