body{
    background-color: black;
}

.signup-container{
    background: linear-gradient( to right bottom, #5b4f96, rgba(169, 124, 207, 0.3));  
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.signup-container h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.signup-container p{
        font-family: Arial, Helvetica, sans-serif;
        color: aliceblue;
        text-align: center;
        margin-top: 10px;
        font-size: medium;
        font-weight: 300;
}

.subtn {
    height: 50px;
    width: 352px;
    margin-left: 34px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}
