<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/addinstance.css">


    <title>MCU | ADMIN HOME</title>
</head>

<body style="background-color:  cadetblue;">

    <nav style="position: fixed; overflow: hidden; top: 0; width: 100%; background-color: black;"
        class="navbar navbar-dark bg-dark">
        <a style="font-family: serif; font-size: x-large;" class="navbar-brand" href="#">Miniature Compute
            Unit&nbsp;&nbsp;&nbsp;&nbsp;{{devid}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="color: white;" class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log Out</a>
                </li>
            </ul>
        </div>
    </nav><br><br><br>
    <h1 style="margin-left: 15px;font-size: 32px; font-family: serif; color:  black; font-weight: 550;">Instance
        Creation</h1>
    </div>

    <div class="container1">
        <form action="/addInstance" method="post">
            {% csrf_token %}
            <h1 style="font-size: larger; color:black"><strong>Create Instance</strong></h1><br>
            <div id="survey_options">
                <input style = "color: black;" type="text" name="instancename" class="survey_options" size="50" placeholder="Instance Name">
                <select style="margin-right: 0px; border-radius: 5px; font-size: 22px; ;border-color: black; background-color: teal; width: 275px; "
                    name="algo">
                    <option selected disabled>Algorithm Type</option>
                    <option value="Candidate">Candidate</option>
                    <option value="K-means">K-means</option>
                    <option value="Navie">Navie</option>
                </select><br><br>
                <h1 style=" margin-right: 100px; font-size: large; font-weight: 600; color: black;">Add columns name:</h1>
                <input type="text" name="survey_options_1" class="survey_options" size="50" placeholder="Column 1">
            </div>
            <h1 style=" margin-right: 85px; font-size: large; font-weight: 600; color: black;">Add columns values  :</h1>
            <div id = "survey_options1">
                <input type="text"  name="survey_values_1" class="survey_options1" size = "50" placeholder="Values for column 1">
            </div> 
            <br>
            <div class="controls">
                <a href="#" id="add_more_fields"><i class="fa fa-plus"></i><strong>+</strong></a>
                <a href="#" id="remove_fields"><i class="fa fa-plus"></i><strong>-</strong></a><br>
            </div>
            <input id="column_counter" name="column_counter" type="number" value=1 hidden />
            <br><input class="subtn" type="submit" value="Add Instance">
        </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        var survey_options = document.getElementById('survey_options');
        var survey_options1 = document.getElementById('survey_options1');
        var add_more_fields = document.getElementById('add_more_fields');
        var remove_fields = document.getElementById('remove_fields');

        add_more_fields.onclick = function () {
            var newField = document.createElement('input');
            var newField1 = document.createElement('input');
            newField.setAttribute('type', 'text');
            newField1.setAttribute('type','text');
            console.log($('#column_counter').val());
            newField.setAttribute('name', 'survey_options_' + (parseInt($('#column_counter').val()) + 1));
            newField1.setAttribute('name','survey_values_' + (parseInt($('#column_counter').val()) + 1));
            // newField.setAttribute('class', 'survey_options');
            newField.setAttribute('siz', 50);
            newField1.setAttribute('siz', 50);
            newField.setAttribute('placeholder', 'Column ' + (parseInt($('#column_counter').val()) + 1)) ;
            newField1.setAttribute('placeholder', 'Values for column ' + (parseInt($('#column_counter').val()) + 1))
            survey_options.appendChild(newField);
            survey_options1.appendChild(newField1);
            $('#column_counter').val((parseInt($('#column_counter').val()) + 1));
        }

        remove_fields.onclick = function () {
            var input_tags = survey_options.getElementsByTagName('input');
            var input_tags1 = survey_options1.getElementsByTagName('input');
            console.log($('#column_counter').val());
            if (input_tags.length > 1 & input_tags1.length > 1 ) {
                survey_options.removeChild(input_tags[(input_tags.length) - 1]);
                survey_options1.removeChild(input_tags1[(input_tags1.length) - 1]);
                $('#column_counter').val((parseInt($('#column_counter').val()) - 1));
            }
        }
    </script>
</body>

</html>