<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/home.css">

  <!-- js -->
  <script>
    function myFunction() {
      document.getElementById("demo").innerHTML = "File Uploaded";
    }
  </script>


  <title>MCU | HOME</title>
</head>

<body>

  <nav style="position: fixed; overflow: hidden; top: 0; width: 100%; background-color: black;"
    class="navbar navbar-dark bg-dark">
    <a style="font-family: serif; font-size: x-large;" class="navbar-brand" href="#">Miniature Compute
      Unit&nbsp;&nbsp;&nbsp;&nbsp;{{loginuserid}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="color: white;" class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>


    
    
    <div class="overlay" id="divOne">
      <div class="wrapper">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <form action="/homepage" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <h1 style="font-size: large;">File Details</h1>
              <input style="display: none;" name="userid" value="{{loginuserid}}">
              <input type="text" placeholder="Name" name="aliasname" id="typeEmailX"
                class="form-control form-control-lg" />
              <h2 style="font-size: large;">Upload type CSV </h2><label for="upload">Upload</label><br>
              <input type="file" name="file" id="upload" style="display: none;">
              <select style=" color:black;border-radius: 5px; background-color: aliceblue;" name="algo">
                <option selected disabled>Instance</option>
                {% for i in instance_list %}
                <option style="color: black;" value='{{i.instance_name}}'>{{i.instance_name}}</option>
                {% endfor %} 
              </select><br>
 
              <input style="margin-right: 5px;" class="subbtn" type="submit" value="Submit"><br>

            </form>
        </div>
      </div>
    </div>
    <div class="filerecord">
      <h1 style="text-align: center; color: black; font-size: 30px; font-weight: 700; padding-bottom: 50px;">Process Dashboard</h1>
      {% for msg in messages %}
      <div class="alert alert-danger" style=" margin-left:100px; width: fit-content; height:30px; text-align: center;" role="alert">
      <p style=" position: relative; color: black; text-align: center; bottom: 11px;">{{msg}}</p>
    </div>
    {% endfor %} 
      <!-- <p
      style="color:white; font-weight: 500; font-size: 20px;margin-left: 35px; padding-top: 10px;padding-bottom: 10px;">
      
      {{msg}}
      </p> -->
      <div class="box">
        <a class="button" href="#divOne">Add file</a>
      </div>
      <table style="width: 1100px; margin-left: auto; margin-right: auto; text-align: center; margin-top: 20px; border-radius: 6px;"
        class="table table-dark">
        <thead>
          <tr>
            <th scope="col">File ID</th>
            <th scope="col">Filename</th>
            <th scope="col">Instance type</th>
            <th scope="col">Status</th>
            <th scope="col">Process name</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
          {% for x in filelogd %}
          <tr>
            <th scope="row">{{x.id}}</th>
            <td>{{ x.file_name }}</td>
            <td>{{ x.instance_type}}</td>
            
            <td id = "statustext">
              <span class='{{ x.status }}'> {{ x.status }} </span>
            </td>
            <td>{{ x.aliasname }}</td>
            <td><a href="/delete/{{ x.id }},{{x.userid}},{{x.file_name}},{{x.instance_type}}" ><i class="fa-solid fa-trash-can"></i>
            </a>&nbsp; |
                 &nbsp;<a href="/result/{{ loginuserid }},{{x.file_name}},{{x.instance_type}}"><i class="fa-solid fa-square-poll-vertical" ></i></a>&nbsp; |
                 &nbsp;<a href="/viewmore/{{ loginuserid }},{{x.file_name}},{{x.instance_type}}">view more</a>
            </td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2a8db4a381.js" crossorigin="anonymous"></script>
</body>

</html>