<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/home.css">

  <!-- js -->
  <script>
    function myFunction() {
      document.getElementById("demo").innerHTML = "File Uploaded";
    }
  </script>


  <title>MCU | HOME</title>
</head>

<body style="background-color: #553D67">

  <nav style="position: fixed; overflow: hidden; top: 0; width: 100%; background-color: black;"
    class="navbar navbar-dark bg-dark">
      <a style="font-family: sans-serif; font-size: 30px; color: #f64c72;" class="navbar-brand" href="#"><strong>MCU</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{loginuserid}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="color: white;" class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>


    
    
    <div class="overlay" id="divOne">
      <div style = "background-color: #553d67;" class="wrapper">
        <a style = "color: white;" class="close" href="#">&times;</a>
        <div class="content">
            <form action="/homepage" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <h1 style="color: white; font-size: 28px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: auto; margin-right: auto;">Provide File Details</h1>
              <input style="display: none;" name="userid" value="{{loginuserid}}">
              <h2 style="font-size: 22px; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Enter Name Of The File:</h2>
              <input type="text" placeholder="Name" name="aliasname" id="typeEmailX"
                class="form-control form-control-lg" /> <br>
              <h2 style="font-size: 22px; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Upload Csv File Only: </h2><label style="background-color: #F64C72; color: white; border-color: #F64C72; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" for="upload">Upload</label><br>
              <input type="file" name="file" id="upload" style="display: none;"><br>
              <h2 style="font-size: 22px; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Select The Instance:</h2>
              <select style=" color:black; border-radius: 5px; background-color: white" name="algo">
                <option selected disabled>Instance</option>
                {% for i in instance_list %}
                <option style="color: black; background-color: white;" value='{{i.instance_name}}'>{{i.instance_name}}</option>
                {% endfor %} 
              </select><br>
 
              <input style="margin-right: 5px; border-color: #F64C72; background-color: #F64C72; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: auto; margin-right: auto;" class="subbtn" type="submit" value="Submit"><br>

            </form>
        </div>
      </div>
    </div>
    <div style = "background: #252482; width: 1670px; height: 620px; margin-top: 80px; padding-top: 20px;" class="filerecord">
      <h2 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white; font-size: 35px; font-weight: 700; padding-bottom: 50px;">PROCESS DASHBOARD</h2>
      {% for msg in messages %}
      <div class="alert alert-primary" style=" margin-left:15px; width: fit-content; height:30px; text-align: center; position: fixed;" role="alert">
      <p style=" position: relative; color: black; text-align: center; bottom: 11px;">{{msg}}</p>
    </div>
    {% endfor %} 
      <div style = "margin-left: auto; margin-right: 15px;" class="box">
        <a style = "background-color: #F64C72; border-radius: 2px; margin-left: 300px; font-size: 22px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="button" href="#divOne">Create Process</a>
      </div>
      <table style=" background-color: #553d67; width: 1640px; margin-left: auto; margin-right: auto; text-align: center; margin-top: 20px; border-radius: 2px;"
        class="table table-dark">
        <thead>
          <tr>
            <th style = "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 22px;" scope="col">Filename</th>
            <th style = "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 22px;" scope="col">Instance type</th>
            <th style = "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 22px;" scope="col">Status</th>
            <th style = "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 22px;" scope="col">Process name</th>
            <th style = "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 22px;" scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
          {% for x in filelogd %}
          <tr style="font-size: 19px; font-family: Arial, Helvetica, sans-serif;">
            <td >{{ x.file_name }}</td>
            <td >{{ x.instance_type}}</td>
            
            <td id = "statustext">
              <span class='{{ x.status }}'> {{ x.status }} </span>
            </td>
            <td >{{ x.aliasname }}</td>
            <td ><a href="/delete/{{x.userid}},{{x.file_name}},{{x.instance_type}}" ><i style="color: #F64C72;" class="fa-solid fa-trash-can"></i>
            </a>&nbsp; |
                 &nbsp;<a href="/viewmore/{{ loginuserid }},{{x.file_name}},{{x.instance_type}}"><i style="color: #F64C72;" class="fa-solid fa-eye"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2a8db4a381.js" crossorigin="anonymous"></script>
</body>

</html>