<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/home.css">

  <!-- js -->
  <script>
    function myFunction() {
      document.getElementById("demo").innerHTML = "File Uploaded";
    }
  </script>


  <title>MCU | HOME</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a style="font-family: serif; font-size: x-large;" class="navbar-brand" href="#">Miniature Compute
      Unit&nbsp;&nbsp;&nbsp;&nbsp;{{loginuserid}}{{request.session.cuserid}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="color: white;" class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container1">
    <div class="uploadcont">
      <h1>Upload Files Here </h1>
      <p1> (CSV File Only)</p1>
      <form action="/homepage" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input style="display: none;" name="userid" value="{{loginuserid}}">
        <label for="upload">Upload</label>
        <input type="file" name="file" id="upload" style="display: none;">
        <input class="subbtn" type="submit" value="Update" onclick="myFunction()"><br>
        <p
          style="color:black; font-weight: 500; font-size: 20px;margin-left: 20px; padding-top: 10px;padding-bottom: 10px;">
          {% for msg in messages %}
          {{msg}}
          {% endfor %}</p>
      </form>
      <!-- <p id="demo"></p> -->
    </div>
    <div class="filerecord">
      <table style="width: 950px; margin-left: auto; margin-right: auto; text-align: center;" class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Sl.no</th>
            <th scope="col">Filename</th>
            <th scope="col">Status</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
          {% for x in filelogd %}
          <tr>
            <th scope="row">{{x.id}}</th>
            <td>{{ x.file_name }}</td>
            <td>{{ x.status }}</td>
            <td><a href="/delete/{{ x.id }},{{x.userid}}">Delete</a></td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>



  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>