<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Miniature Compute Unit</title>
    <!-- <meta name="description" content="">
    <meta name="author" content=""> -->


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/kairos/css/base.css">
    <link rel="stylesheet" href="/static/kairos/css/vendor.css">
    <link rel="stylesheet" href="/static/kairos/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <!-- script
    ================================================== -->
    <script src="/static/kairos/js/modernizr.js"></script>
    <script src="/static/kairos/js/pace.min.js"></script>


</head>

<body id="top">


    <!-- header 
    ================================================== -->
    <header class="s-header">

        <div class="row">
            <div class="header-logo">
                <a class="site-logo" href="/">
                    <h1 style="color: #f64c72; padding-left: 55px; padding-bottom: 58px; margin-right: 50px;">MCU</h1>
                    <!-- <img src="/static/kairos/images/logo.svg" alt="Homepage"> -->
                </a>
            </div>
    
            <nav style = "font-size: 30px;" class="header-nav-wrap">
                <ul class="header-main-nav">
                    <li ><a href="/login" >Login</a></li>
                    <li ><a href="/signup" >Sign Up</a></li>
                    <li ><a href="/devlogin" >Admin login</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">Features</a></li>
                </ul>
    
                <!-- <div class="header-cta">
                    <a href="#download" class="btn btn--primary header-cta__btn smoothscroll">Get The App</a>
                </div> -->
            </nav> <!-- end header-nav-wrap -->
    
        
        </div>

    </header> <!-- end header -->


    <!-- home
    ================================================== -->
    <section style = "background-color: #242582;" class="s-home target-section" data-parallax="scroll" >

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <div class="home-content__left">
                    <h1>
                    Miniature Compute Unit <br>
                    </h1>
    
                    <h3 style = "color: aliceblue;">
                    Get Your Data Processed In An Efficient Way
                    </h3>
    
                    
                </div> <!-- end home-content__left-->

                

            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->
    <!-- about
    ================================================== -->
    <section style = "background-color: #242582;" id="about" class="s-about target-section">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1">
                    Features
                </h1>
                <p class="lead">
                    Miniature Compute Unit Provides
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row wide about-desc" data-aos="fade-up">

            <div class="col-full slick-slider about-desc__slider">

                <div class="about-desc__slide">
                    <h3 class="item-title">Intuitive.</h3>

                    <p>
                    Miniature Compute Unit understands the problem and finds the best posible way to address the problem.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Smart.</h3>

                    <p>
                    Miniature Compute Unit Optimizes it's efficiency by distributing the load and handling proper functioning of the nodes.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Powerful.</h3>

                    <p>
                    Miniature Compute unit handles the Processing, Distributing and Result presentation influentially. 
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Secure.</h3>

                    <p>
                    Miniature Compute unit execute all the processing in a secure way.
                    </p>
                </div>  <!-- end about-desc__slide -->

            </div> <!-- end about-desc__slider -->
            
        </div> <!-- end about-desc -->

    </section> <!-- end s-about -->

   
    

    <!-- Java Script
    ================================================== -->
    <script src="/static/kairos/js/jquery-3.2.1.min.js"></script>
    <script src="/static/kairos/js/plugins.js"></script>
    <script src="/static/kairos/js/main.js"></script>

</body>