<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/home.css">

    <!-- js -->
    <script>
        function myFunction() {
            document.getElementById("demo").innerHTML = "File Uploaded";
        }
    </script>


    <title>MCU | HOME</title>
</head>

<body>

    <nav style="position: fixed; overflow: hidden; top: 0; width: 100%; background-color: black;"
        class="navbar navbar-dark bg-dark">
        <a style="font-family: serif; font-size: x-large;" class="navbar-brand" href="#">Miniature Compute
            Unit&nbsp;&nbsp;&nbsp;&nbsp;{{loginuserid}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="color: white;" class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="cards">
        <div class="instance">
        {% for x in filedetails %}
        <h1>Instance Details</h1>
        <p1 style="font-weight: 600;">Instance type</p1><br>
        <p2>{{x.instance_type}}</p2><br><br>
        <p1 style="font-weight: 600;">Headers</p1><br>
        {% for i in header %}
        <p2>{{i}}</p2>
        {% endfor %}<br><br>
        <p1 style="font-weight: 600;">Values</p1><br>
        {% for i in values %}
        <p2>{{i}}</p2>
        {% endfor %}
        </div>
        <hr style="background-color: azure; width: 700px; margin-left: auto; margin-right: 1000px;">
        <div class="file">
        <h1>File Details</h1>
        <p1 style="font-weight: 600;">File name</p1><br>
        <p2>{{x.file_name}}</p2><br><br>
        <p1 style="font-weight: 600;">File creation time </p1><br>
        <p2>{{x.upload_time}}</p2><br><br>
        <p1 style="font-weight: 600;">File size</p1><br>
        <p2>{{x.file_size}} MB</p2><br><br>
        <p1 style="font-weight: 600;">File status : </p1><br>
        <p2 id = "statustext" >{{x.status}}</p2><br>
        <input style = "display: none;" type = "text" id = "mytext" value = {{x.status}}><br>
        <p1 style="font-weight: 600;">Download file</p1><br>
        <a style = "margin-left: 30px;" href="{{ file_dir }}/{{x.file_name}}" download><i style = "color:black; margin-left: 10px;" class="fa-solid fa-download"></i></a>
        {% endfor %}
        </div>
        <hr style="background-color: azure; width: 700px; margin-left: auto; margin-right: 1000px;">
        <div class="results">
        <h1>Result Status</h1>
        <p1 id = "noresulttext">File still processing or in queue. Kindly wait.</p1>
        <p1 id = "resulttext">Result generated : </p1>
        <a id = "resultlink" href="#" >Result link</a>
        <div class="lds-dual-ring"></div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2a8db4a381.js" crossorigin="anonymous"></script>
    <script>
        let status = document.getElementById('mytext');
        var statustext = document.getElementById('statustext');
        var noresult = document.getElementById('noresulttext');
        var result = document.getElementById('resulttext');
        var resultlink = document.getElementById('resultlink');
        var loadinglogo = document.getElementsByClassName('lds-dual-ring');
        

        if (status.value === "Success")
        {
            result.style.display = 'true';
            result.style.display = 'true';
            noresult.style.display = 'none';
            loadinglogo.style.display = 'none';
            statustext.style.color = 'green';
            
        }

        else{
            result.style.display = 'none';
            resultlink.style.display = 'none';
            noresult.style.display = 'true';
            loadinglogo.style.display = 'true';
            statustext.style.color = 'yellow';

        }
    </script>
    
</body>

</html>